@import "../setting"; //vendor

// reset
*, ::after, ::before, :after, :before{ 
  box-sizing: border-box;
}

ul, ol{
  padding: 0; 
  margin: 0; 
  list-style-type: none;
}

// for editor
.edit-area{
  ul{
    padding-left: 1.5em;
    list-style: disc;
  }
  ol{
    padding-left: 1.5em;
    list-style: decimal;
  }
  img{
    height: auto!important;
  }
}

// default
body{
  margin: 0;
  font-family: $font-default;
}

a{
  display: inline-block;
  color: $main;
  transition: .3s linear all;
  &:hover {
    text-decoration: none;
    color: $black;
  }
  &:focus {
    outline: none;
  }
}

img, iframe{
  max-width: 100%;
}

section{
  padding: 30px 0;
  @include res(xlpad){
    padding: 48px 0;
  }
  @include res(xlpc){
    padding: 72px 0;
  }
}

input, button, textarea, select{
  border: 0;
  &:focus{
    outline: none;
  }
}

$input-prefix: '::-webkit-input-',':-moz-','::-moz-',':-ms-input-';

// placeholder text color
@each $i in $input-prefix{
  #{$i}placeholder{
    color: #c5c5c5;
  }
}

// margin & padding
.mt-30{
  @include m(top,20px);
  @include res(xlpad){
    @include m(top,30px);
  }
}

.mb-30{
  @include m(bottom,20px);
  @include res(xlpad){
    @include m(bottom,30px);
  }
}

.container{
  margin:0 auto;
  padding: 0 10px;
  width: 100%;
  >.row:not(.no-gutters){
    margin-left: -10px;
    margin-right: -10px;
    >div[class^='col-']{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @include res(pad){
    max-width: 700px;
  }
  @include res(xlpad){
    max-width: 900px;
  }
  @include res(nb){
    max-width: 1100px;
  }
  @include res(pc){
    max-width: 1200px;
  }
  @include res(xlpc){
    max-width: 1400px;
  }
}

.breadcrumb{
  padding: 0;
  background: $none;
  font-size: 0.875em;
}

//grids
.grids-2{
  @include setgrids(1,10px,[['pad',2,20px]]);
}
.grids-3{
  @include setgrids(1,10px,[['pad',2,20px],['nb',3,30px]]);
}
.grids-6{
  @include setgrids(2,6px,[['pad',3],['xlpad',4],['nb',6]]);
}

.between{
  @include flexbox(y);
  justify-content: space-between;
  flex-wrap: wrap;
}

// overwrite slick.css

.slick-arrow{
  opacity: 0.5;
  background: $grey;
  padding: 0;
  &:before{
    color: $white;
    font-size: 15px;
  }
  &:hover{
    background: $main;
    box-shadow: $shadow-button;
    opacity: 1;
  }
  @include res(nb){
    left: -50px;
    &.slick-next{
      left: auto;
      right: -50px;
    }
  }
}