// icon
.i-arrow-r{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: .1s linear all;
  &:before,&:after{
    content: '';
    display: block;
    width: 21px;
    background: #fff;
    height: 1px;
  }
  &:after{
    width: 8px;
    position: relative;
    left: calc(100% - 8px);
    top: -3px;
    transform: rotate(30deg);
  }
}

// text
/* title */
.title-sec {
  font-size: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
  @include res(pad){
    font-size: 38px;
  }
}
.title-card{
  font-size: 18px;
  @include res(pad){
    font-size: 20px;
  }
}
.title-list {
  font-size: 14px;
  @include res(pad){
    font-size: 16px;
  }
}
.border-under-title{
  display: block;
  margin: 0.5em 0;
  width: 40px;
  height: 2px;
  background: $black;
  &.sm{
    width: 30px;
  }
  @include res(pad){
    width: 46px;
    &.sm{
      width: 38px;
    }
  }
}
/* text */
.text{
  line-height: 1.65;
  font-size: 15px;
}
.text-sm {
  line-height: 1.65;
  font-size: 14px;
}

/* price */
.price{
  color: $black;
  font-weight: bold;
  &.special{
    font-size: 1.4em;
    color: $red;
  }
}
/* textbox */
.txt-l1{
  @include textbox(1)
}
.txt-l2{
  @include textbox(2)
}
.txt-l3{
  @include textbox(3)
}

// bg
.bgcover{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-main{
  background: $main!important
}

.bg-light{
  background: $light!important
}


// button
.btn{
  text-align: center;
  font-size: 14px;
  padding: 0.5em 1em;
  &:hover{
    box-shadow: $shadow-button;
  }
  @include res(xlpad){
    font-size: 16px;
    // min-width: 120px;
    // padding: 0.5em 2em;
  }
}


.btn-main{
  border: 1px solid $main;
  background: $main;
  box-shadow: $shadow-button;
  color: $white;
  &:hover{
    background: $none;
    color: $main;
  }
}


.btn-cyan{
  border: 1px solid $cyan;
  background: $cyan;
  box-shadow: $shadow-button;
  color: $white;
  &:hover{
    background: $none;
    color: $cyan;
  }
}

.btn-white{
  background: $white;
  border-radius: 30px;
  color: $black;
  &:hover{
    background: $second;
    color: #fff;
  }
}

.btn-line{color: $white; background: $brand-line;
  &:hover{
    background: transparentize($brand-line,0.4); 
  }
}
.btn-facebook{color: $white; background: $brand-facebook;
  &:hover{
    background: transparentize($brand-facebook,0.4); 
  }
}
.btn-google{color: $white; background: $brand-google;
  &:hover{
    background: transparentize($brand-google,0.4); 
  }
}

.tag{
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 14px;
  color: $white;
  &.hot{
    background: $red;
  }
  &.new{
    background: $main;
  }
}

// list
.list-inline-item{
  vertical-align:middle;
}

.list-page{
  >li{
    display: inline-block;
    margin-right: 5px;
    @include res(pad){
      margin-right: 10px;
    }
    a{
      display: block;
      @include square(30px);
      @include flexbox(center);
      border-radius: 50%;
      font-weight: bold;
      color: $main;
      &:hover,:focus{
        border: 1px solid $main;
      }
      &.active{
        box-shadow: $shadow-button;
        background: $main;
        color: $white;
      }
    }
  }
}

.list-angle{
  li{
    @include flexbox(y);
    a{
      &:before{
        @include fa;
        content: '\f054';
        font-size: 0.75em;
        margin-right: 8px;
      }
    }
  }
}
// box
.board{
  padding: 15px 10px;
  border: $border;
  border-radius: 15px;
  @include res(nb){
    padding: 25px 20px
  }
}

.oval{
  @include oval(100px,$white);
  margin: auto;
  img{
    max-width: 65px;
    max-height: 65px;
  }
}

.box-img{
  @include imgbox(100%);
  &.r-4-3{
    &:before{
      padding-bottom: 75%;
    }
  }
  &.r-16-9{
    &:before{
      padding-bottom: 56.25%;
    }
  }
  &.img-fit-text{
    &:before{
      padding-bottom: 50%;
    }
  }
  &.img-contain{
    background-size: contain;
  }
}

.box-iframe{
  position: relative;
  &:before{
    content: '';
    width: 100%;
    display: block;
    padding-bottom: 56.25%;
  }
  iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.banner{
  @include imgbox(31.25%, 200px); //1920 * 600px, min-height: 200px
  .content{
    @include overlay($none);
    @include flexbox(center);
    text-align: center;
    h2{
      text-shadow: $shadow-text;
      letter-spacing: 0.01em;
      color: #fff;
      font-size: px2rem(36px);
      margin-bottom: 0.5em;
      @include res(pad){
        font-size: px2rem(48px);
      }
      @include res(nb){
        font-size: px2rem(62px);
      }
    }
  }
  &.banner-page{
    &:before{
      padding-bottom: 20.83%; // 1920*400px
    }
  }
}

.box-qty{
  input{
    display: inline-block;
    max-width: 130px;
    vertical-align: middle;
  }
  button{
    border-radius: 3px;
    font-size: 18px;
    @include square(36px);
    @include flexbox(center);
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid #bab9b9;
    &:first-of-type{
      background: $grey;
      color: $white;
    }
    &:nth-of-type(2){
      background: $white;
      color: $grey;
    }
  }
}

.box-msg{
  background: transparentize($main,0.92);
  padding: 30px;
  @include res(xlpad){
    padding: 40px;
  }
}

// slider
.slider-col-3{
  margin-left: -10px;
  margin-right: -10px;
  .item{
    padding: 10px 10px 15px;
    &:hover{
      .card{
        box-shadow: $shadow-box;
      }
    }
  }
}

// form
select, input, textarea{
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $grey;
  &[readonly], &:disabled{
    background: #fff;
  }
}
label.checkbox{
  margin-bottom: 0;
  cursor: pointer;
  input{
    position: absolute;
    visibility: hidden;
    width: auto;
    +span{
      position: relative;
      display: inline-block;
      padding-left: 32px;
      letter-spacing: 0;
      line-height: 1.5;
      &:before, &:after{
        content: ''; 
        position:absolute;
        left: 0;
        top: 0;
      }
      &:before{
        @include square(20px);
        background:#e4e4e4;
        border-radius: 6px;
      }
      &:after{
        border-bottom: 3px solid $main;
        border-right: 3px solid $main;
        width: 8px;
        height: 12px;
        transform: rotate(45deg);
        opacity: 0;
        transition: .1s linear all;
        left: 6px;
        top: 2px;
        border-radius: 2px;
      }
    }
    &:checked{
      +span:after{
        opacity: 1!important;
      }
    }
  }
  &.radio{
    input{
      +span{
        &:before{
          border-radius: 50%;
        }
        &:after{
          border-radius: 50%;
          background: $main;
          left: 5px;
          top: 5px;
          opacity: 0;
          border: 0;
          @include square(10px);
        }
      }
    }
  }
}
.form-item{
  margin-bottom: 1em;
  >label{
    display: block;
    margin-bottom: 0.25em;
  }
  >.text-danger{
    font-size: 0.875em;
    margin-top: 0.25em;
    margin-bottom: 0;
  }
  &.inline{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    >.text-danger{
      flex-basis: 100%;
    }
    >label{
      display: inline-block;
      width: 80px;
      flex-shrink: 0;
      margin-bottom: 0;
      + *{
        flex-grow: 1;
      }
    }
  }
}

.text-danger{
  color: $red;
  font-size: 0.875em;
}
