.footer{
  color: $grey;
  background: $light;
  padding-top: 30px;
  font-size: 14px;
  line-height: 2em;
  @include res(xlpad){
    padding-top: 42px;
  }
  a{
    color: $grey;
    &:hover{
      color: $main;
    }
  }
  h5{
    color: $grey;
    font-weight: bold;
    font-size: 18px;
  }
}

.copyright{
  font-size: 12px;
  margin: 0;
  background: $main;
  text-align: center;
  padding: 15px 10px;
  color: transparentize($white,0.4);
}

.scrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  @include oval(40px,$second);
  box-shadow: $shadow-box;
  color: #fff;
  &:hover{
    background: $white;
    color: $main;
  }
}