.headerwrap{
  .navbar-toggler:not(.collapsed){
    .fa-bars:before{
      content: '\f00d';
    }
  }
  .navbar-toggler-icon {
    line-height: 1.5em;
  }
  .navbar-brand{
    margin-right: 0;
    max-width: calc(100% - 60px);
    img{
      max-height: 45px;
    }
    @include res(xlpad){
      padding: 1rem 0;
      img{
        max-height: 60px;
      }
    }
  }
  &.fixed{
    header{
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      background: $white;
      box-shadow: $shadow-box;
      .submenu{
        padding-top: 10px;
      }
    }
  }
}
.topbar{
  text-align: right;
  padding: 8px 0;
  border-bottom: 1px solid #ededed;
  a{
    font-size:13px;
    color: $second;
    &:hover{
      color: $main;
    }
  }
  .submenu{
    padding-top: 8px;
    left: auto;
    right: 0;
  }
}

.has_submenu {
  position: relative;
  @include res(xlpad){
    &:hover{
      .submenu{
        display: block;
      }
    }
  }
}

.submenu{
  display: none;
  z-index: 2;
  min-width: 100%;
  padding-top: 12px;
  position: absolute;
  left: 0;
  top: 100%;
  ul{
    text-align: center;
    box-shadow: $shadow-box;
    li{
      white-space: nowrap;
      position: relative;
      background: #fff;
      a{
        display:block;
        background: #fff;
        font-size: 0.9em;
        padding: 0.3rem 0.75rem!important;
        &:hover{
          background: $main;
          color: $white;
        }
      }
    }
  }
}

.navbar-nav{
  >li{
    >a{
      font-size: 18px;
      letter-spacing: 0.04em;
      font-weight: 500;
      @include res(nb){
        padding-right:0!important;
      }
    }
    &:not(:last-child){
      @include res(xlpad){
        margin-right: 1.5em;
      }
      @include res(nb){
        margin-right: 3em;
      }
    }
  }
  @include res(xlpad,to-mb){
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    .submenu{
      padding-top: 0;
      position: static;
    }
    >li{
      >a{
        padding: 0.5em 1em;
        border-bottom: $border;
        width: 100%;
      }
    }
  }
}
