
.input-group-append {
  height: calc(1.5em + .75rem + 2px);
}

.btn-sm {
  padding: .25rem .5rem;
  font-size: 14px;
}

.cursor-pointer { cursor: pointer; }

.line-clamp-1 {
  @include textbox(1, 1.5em);
}

.line-clamp-2 {
  @include textbox(2, 1.5em);
}

.line-clamp-3 {
  @include textbox(3, 1.5em);
}

.text-main {
  color: $main;
}

.text-second {
  color: $second;
}
.hover-color-main:hover {
  color: $main;
}

.border-pill {
  border-radius: 50px;
}

.btn-icon {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
  padding: 0 0.5em;
}

.no-caret::after {
    display: none;
    content: none;
}

.min-w-300px {
  min-width: 300px;
}

.h-600px {
  height: 600px;
}
.w-100px {
  width: 100px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  border: none;
  opacity: 1;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: $main;
  border-color: $main;
}

.right-0 {
  right: 0;
}

.left-auto {
  left: auto;
}
// input[readonly] {
//   border: none;
//   background:#fff;
// }