.page-msg {
  .card-header { background:#fff; }

  // .card > .list-group > .list-group-item {
  //   border: none;
  //   border-bottom: 1px solid rgba(0,0,0,.125);
  // }
  // .card-header { background:#f2f4f7; }

  .modal-dialog { max-width: 350px;}
  .msg-time {
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .msg-text-time {
    font-size: 12px;
    color: $grey;
    display: none;
    margin-bottom: 1rem;
    // use js to toggle show
  }

  .msg-user-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    &.big {
      width: 5rem;
      height: 5rem;
    }
  }
  .msg-block {
    display: flex;
    flex-wrap: wrap;

    &.left .msg-block-content {
      justify-content: flex-start;
      padding-left: 1rem;
    }
    &.right .msg-block-content {
      text-align: right;
      padding-right: 1rem;
    }

    .msg-block-content {
      // display: flex;
      width: calc(100% - 4rem);
    }

    .msg-text {
      position: relative;
      display: inline-block;
      background: #f2f4f7;
      padding: 15px 20px;
      border-radius: 1.5rem;
      margin-bottom: 10px;
      text-align: left;
      // word-wrap: break-word;

      -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
      // overflow-wrap: break-word;
      // border-top-left-radius: 0;
    }

    &.right .msg-text {
      background: #58cbc8;
      color: #fff;

      a:not(:hover) { color: darken(#58cbc8, 30%); }
    }


    .msg-text:last-child {
      margin-bottom: 30px;
    }
  }

  .list-group-item {
    transition: 0.5s ease;
  }

  .list-group-item:hover {
    background: #e1f6f6;
  }
  .profile-img-box {
    width: 3rem;
    height: 100%;

    &.with-img-big {
      width: 5rem;
    }

  }
  .profile-content-box {
    width: calc(100% - 3rem);

    &.with-img-big {
      width: auto;
      max-width: calc(100% - 5rem);
    }
  }
}